@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'remixicon/fonts/remixicon.css';
@import 'sidebar.scss';

[x-cloak] {
    display: none;
}

/* Your custom base styles */

a:not(nav a) {
    text-decoration: none;
    color: black; /* Set text color to black */
}
ul {
    list-style-type: none;
}

ul li {
    color: black; /* Set text color to black */
}




  




